        /* navigation */
        body{
            margin: auto;
        }
        
        #navigation{
            display: flex;
            justify-content: space-between;
            padding: 1em;
            width: 100%;
            background-color: rgb(255, 255, 255);
            align-items: center;
            position: fixed;
            top: 0%;
            box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
        
        #nav-box{
            margin-right: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        .nav-item{
            margin-right: 20px;
            text-decoration: none;
            color: black;
            transition: click;
            transition-delay: 2s;
        }
        .nav-item:hover{
            color: blue;
        }
        #nav-toggle{
            display: none;
            border: none;
            background: none;
            cursor: pointer;
            color: #000102;
            font-size: large;
        } 
         #nav-box{
            background-color: #fff;
            color: #2563eb;
            padding: 1em;
            text-align: center;
        
        }
        
        
        #name-logo{
            margin-left: 10px;
            font-size: 40px;
            color: #2563eb;
        }
        #my-img img{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
        #resume-btn{
            height: 50px;
            width: 200px;
            background-color: #2563eb;
            border-radius: 10px;
            border: 0px solid black;
            margin-top: 25px;
        }
        
        
        #hello-section{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 2rem;
            background-color: #dbeafe;
        }
        #icon-div i{
            font-size: 2rem;
            color: black;
        }
        
        
        #about-me{
            margin: 50px;
            padding: 2rem 3rem;
            
            
            
            
        }
        #about-heading{
            margin-top: 40px;
        }
        #about-allinfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
        }
        
        /* contact section */
        #contact-section{
            padding: 5rem 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            padding-top: 40px;
            
        }
        #contact-section input{
            margin-bottom: 40px;
            height: 50px;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: .01px solid black;
        }
        textarea{
            border-radius: 10px;
            border: .1px solid black;
            height: 40vh;
            width: 100%;
            padding: 10px;
        }
        footer{
            height: 50px;
            text-align: center;
            background-color: rgb(91, 90, 90);
            align-items: center;
        }
        h2{
            font-size: 50px;
            text-align: center;
        }
        h4{
            font-size: 24px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #contact-heading{
            margin-bottom: 100px;
        }
        #contact-section #submit{
            width: 100px;
            background-color: #2563eb;
        }
        
        #contact-section label{
            width: 100%;
            margin-top: 10px;
            text-align: left;
        }
        /* skills section */
        #skill-box{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(150px,2fr));
            gap: 2rem;
            
            
            
        }
         
        .skill-item{
            padding: 25px;
            
            background-color: #dbeafe;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease;
            
        }
        .skill-item:hover{
            transform: translateY(-20px);
        }
        .skill-item i{
            font-size: 40px;
            color: #2563eb;
        }
        #my-skills{
            padding: 40px 100px;
        }
        
        #services-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }
        .services{
            flex:  1 1 300px;
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            background-color: #dbeafe;
        }
        #my-services{
            padding-top: 40px;
        }
        .services h2{
            margin-bottom: 20px;
            font-size: 2rem;
        
        }
        
        @media (max-width: 768px) {
            #contact-section {
                padding: 30px 10px;
            }
        
            #contact-section form {
                max-width: 90%;
            }
            #nav-box{
                display: none;
                position: absolute;
                top: 100%;
                left: auto;
                width: 100%;
                background-color: #dbeafe;
                padding: 1rem;
                flex-direction: column;
                align-items: center;
            }
            #nav-box.active{
                display: flex;
            }
            #nav-toggle{
                display: block;
                margin-right: 20px;
            }
            #hello-section{
                margin-top: 50px;
            }
            
        }